.logo-web {
        color: var(--IRIS, #4D5AE5);
        font-family: Raleway;
        font-size: 18px;
        font-weight: 700;
        line-height: 21px;
        /* 116.667% */
        letter-spacing: 0.54px;
        text-transform: uppercase;
        width: 44px;
}
.logo-studio {
        color: var(--NAVY-BLUE, #2E2F42);
        font-family: Raleway;
        font-size: 18px;
        font-weight: 700;
        line-height: 21px;
        /* 116.667% */
        letter-spacing: 0.54px;
        text-transform: uppercase;
        width: 71px;
}
ul, ol, a, address, header, link {
    list-style-type: none;
}
nav{
    color: var(--SLATE, #434455);
        font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        /* 150% */
        letter-spacing: 0.32px;
        display: flex;
        width: 1440px;
        height: 72px;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
}
body {
    font-family: Roboto, sans-serif;
    background-color: #F4F4FD;
}
.section-solution{
    background-color: #2E2F42;
}
h1{
    color: var(--WHITE, #FFF);
        text-align: center;
        font-family: Roboto;
        font-size: 56px;
        font-weight: 700;
        line-height: 60px;
        /* 107.143% */
        letter-spacing: 1.12px;
}
h3{
    display: flex;
    width: 264px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    color: var(--NAVY-BLUE, #2E2F42);
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    /* 120% */
    letter-spacing: 0.4px;
}
p {
    color: var(--SLATE, #434455);
        font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        /* 150% */
        letter-spacing: 0.32px;
}
button {
    display: inline-flex;
    padding: 16px 32px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 4px;
    background: var(--IRIS, #4D5AE5);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.button-text {
    color: var(--WHITE, #FFF);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.64px;
}
footer {
background-color: #2E2F42;
}
.footer-logo-web {
    color: var(--IRIS, #4D5AE5);
        font-family: Raleway;
        font-size: 18px;
        font-weight: 700;
        line-height: 21px;
        /* 116.667% */
        letter-spacing: 0.54px;
        text-transform: uppercase;
}
.footer-logo-studio {
    color: var(--CLOUD, #F4F4FD);
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    /* 116.667% */
    letter-spacing: 0.54px;
    text-transform: uppercase;
}
.footer-text {
        color: var(--CLOUD, #F4F4FD);
        font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        /* 150% */
        letter-spacing: 0.32px;
}
layout {
width: 1440px;
    height: 600px;
    flex-shrink: 0;
}
