.logo-web {
        color: #4D5AE5;
        font-family: "Raleway", sans-serif;
        font-size: 18px;
        font-weight: 700;
        width: 44px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
}
.link-li {
color: #434455;
}
.link-address {
line-height: 1.5;
font-size: 16px;
letter-spacing: 0.02em;
color: #434455;
font-style: normal;
}
.link-studio {
    color: #434455;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.link-portfolio {
    color: #2e2f42;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
a:hover {
        color: #404bbf;
}
a:focus {
    color: #404bbf;
}
.logo-body-studio {
        color: #2E2F42;
        font-family: "Raleway", sans-serif;
        font-size: 18px;
        font-weight: 700;
        width: 71px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase
}
.font-address {
    font-style: normal;
}
ul,ol {
    list-style-type: none;
}
nav{
    color: var(--SLATE, #434455);
        font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
}
body {
    font-family: Roboto, sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
#team {
    background-color: #F4F4FD;
}
.section-solution{
    background-color: #2E2F42;
}
.main-name{
    color: #FFF;
    font-family: Roboto;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 1.12px;
    text-align: center;
}
.head-benefits {
    width: 264px;
    color: #2E2F42;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.header-team {
    color: #2E2F42;
    font-family: Roboto;
    font-size: 36px;
    font-weight: 500;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
}
.header-punctuality {
    color: #2E2F42;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.header-portfolio {
    color: #2E2F42;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.5;
}
.head-team {
    color: #2E2F42;
    background-color: #FFFFFF;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.section-team {

    color: #2E2F42;
    background-color: #FFFFFF;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.section-portfolio {
    color: #2E2F42;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.paragraf-strategy {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.portfolio-par {
    color: #434455;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.list-team {
    background-color: #FFFFFF;
}
.text-team {
    color: #434455;
    background-color: #FFFFFF;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.link-team{
background-color: #FFFFFF;
}

.team-paragraf {
color: #434455;
font-family: Roboto;
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
}
a {
    text-decoration: none;
}
button {
    background-color: #4D5AE5;
    color:#FFF;
    line-height: 1.5;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.04em;
}
.button-text {
    color: #FFF;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    cursor: pointer;
}
button:focus {
    background-color: #404BBF;
}
button:hover {
    background-color: #404BBF;
}
.footer {
    background-color: #2E2F42;
}
.footer-logo-web {
    color: #4D5AE5;
        font-family: "Raleway", sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
}
.logo-span {
    color: #F4F4FD;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.paragraf-footer {
        color: #F4F4FD;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-transform: uppercase;
}
.nav-span {
    color: #2e2f42;
}
span{
    color: #f4f4fd;
}

